<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="navbar-icon"  onclick="toggleSidebar()">
                <!-- <i class="fas fa-bars"></i> -->

            </div>
            <div class="navbar-left">
                <h1>Bienvenue sur Aubin chat</h1>
            </div>
            <div class="navbar-right">
                
            </div>
        </nav>

        <main>
            <div class="main-container">
                <div id="messages"></div>
                <form action="">
                    <input type="text" id="msg" placeholder="Entrer votre message">
                    <button>Envoyer</button>
                </form>
            </div>
        </main>

        <div id="sidebar">
            <h1>Contacts</h1>
            <div class="search">
                <input type="text" placeholder="recherche">
                <i class="fas fa-search"></i>
            </div>
            <div class="sidebar_title">
                <h1></h1>
            </div>
            <div class="boxs_contacts">
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Aubin</h3>
                            <span>ffffffff</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Wilfried</h3>
                            <span>salut</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Jean</h3>
                            <span>C'est comment Bro?</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Aubin</h3>
                            <span>ffffffff</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Aubin</h3>
                            <span>ffffffff</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Aubin</h3>
                            <span>ffffffff</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Aubin</h3>
                            <span>ffffffff</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Aubin</h3>
                            <span>ffffffff</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
                <div class="contact">
                    <div class="boxes">
                        <div class="contact_image">
                            <img src="./img/1024.png">
                        </div>
                        <div class="contact_content">
                            <h3>Aubin</h3>
                            <span>ffffffff</span>
                        </div>
                    </div>
                    <div class="notifs">
                        <span>2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="app.js"></script>
</body>
</html>